.cart {
	margin-top: 65px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.btn-shop {
	text-decoration: none;
	margin-top: 10px;
}

.cart-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.cart-item {
	padding: 10px;
	align-items: center;
}
